Nama : Nera Sagita Fradityas

NIM : 2100015014

TUGAS PSDS PYTHON (PERTEMUAN 8)

#**STRUKTUR DATA LIST**

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya (mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedannya, elemen List pada python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup muda dengan kurang siku dan elemen yang dipisahkan dengan koma.
Setiap data dalam nya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
#Contoh List
L1 = [1,4,3,13]
print(type(L1))

<class 'list'>

In [ ]:
L2 = ["a", "python", 3]
print(type(L2))

<class 'list'>

In [ ]:
print(L1)
print(L2)

[1, 4, 3, 13]
['a', 'python', 3]

**Indeks di python (List, Tuple) mulai dari 0**

Sifat-Sifat List

In [ ]:
#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan", L1[0:3])

Memanggil List L1 dengan indeks urutan [1, 4, 3]

In [ ]:
#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

List L1 setelah diganti elemennya: [1, 2, 3, 13]

In [ ]:
#Dapat Diindeks/Slicing
print("Slicing List L1", L1[3])

Slicing List L1 (2+3j)

In [ ]:
#Dapat Dijadikan Duplikasi
L1 = [1,"dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]

In [ ]:
#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua",True, 2+3j]
L1[2] = 3
print("Dapat setelah diubah:", L1)

Dapat setelah diubah: [1, 'dua', 3, (2+3j)]

In [ ]:
#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemen:", L1)

Data setelah ditambahkan elemen: [1, 'dua', True, (2+3j), 20]

In [ ]:
#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
print("Data setelah dihapus elemennya:", L1)

Data setelah dihapus elemennya: [1, 'dua', True, (2+3j)]

In [ ]:
#Menambahkan data menggunakan fungsi extend (menambah elemen baru pada List namun elemen tersebut ditambahkan secara individual)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']
[1, 'dua', True, (2+3j), 'nanas']

In [ ]:
#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di List pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [ ]:
#Menghapus elemen dari List menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', (2+3j)]
[1, 'dua', True]

Latihan 1

In [ ]:
#Contoh List
L1 = [9,10,5,4]
print(type(L1))

<class 'list'>

In [ ]:
L2 = ["True", "a+b", 3]
print(type(L2))

<class 'list'>

In [ ]:
print(L1)
print(L2)

[9, 10, 5, 4]
['True', 'a+b', 3]

In [ ]:
#Dapat Dijadikan Duplikasi
L1 = [False, "python", 3+6j, 4]
print("Duplikasi pada List L1:", L1)

Duplikasi pada List L1: [False, 'python', (3+6j), 4]

In [ ]:
#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [False, "python", 3+6j, 4]
L1[2] = 6
print("Dapat setelah diubah:", L1)

Dapat setelah diubah: [False, 'python', 6, 4]

In [ ]:
#Dapat menambahkan elemen baru pada data
L1 = [False, "python", 3+6j, 4]
L1.append(10)
print("Data setelah ditambahkan elemen:", L1)

Data setelah ditambahkan elemen: [False, 'python', (3+6j), 4, 10]

In [ ]:
#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [False, "python", 3+6j, 4]
print("Data setelah dihapus elemennya:", L1)

Data setelah dihapus elemennya: [False, 'python', (3+6j), 4]

In [ ]:
#Menambahkan data menggunakan fungsi extend (menambah elemen baru pada List namun elemen tersebut ditambahkan secara individual)
L1 = [False, "python", 3+6j, 4]
L1.extend("PSDS")
print(L1)

L1 = [False, "python", 3+6j, 4]
L1.extend(["PSDS"])
print(L1)

[False, 'python', (3+6j), 4, 'P', 'S', 'D', 'S']
[False, 'python', (3+6j), 4, 'PSDS']

In [ ]:
#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di List pada indeks tertentu)
L1 = [False, "python", 3+6j, 4]
L1.insert(5,6)
print(L1)

[False, 'python', (3+6j), 4, 6]

In [ ]:
#Menghapus elemen dari List menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [False, "python", 3+6j, 4]
L1.pop(2)
print(L1)

L1 = [False, "python", 3+6j, 4]
L1.pop()
print(L1)

[False, 'python', 4]
[False, 'python', (3+6j)]